*.js linguist-vendored
JavaAppiumAutomation/apks/* linguist-vendored
JavaAppiumAutomation/lib/* linguist-vendored
JavaAppiumAutomation/libs/* linguist-vendored
JavaAppiumAutomation/.idea/* linguist-vendored
JavaAppiumAutomation/out/production/JavaAppiumAutomation/* linguist-vendored
